[Unit]
Description=Telegram Bot AdminKo (Unified)
After=network.target

[Service]
Type=simple
User=varsmana
Group=varsmana
WorkingDirectory=/home/varsmana/adminko
EnvironmentFile=/home/varsmana/adminko/.env
# Запускаем через bash-скрипт, чтобы подхватить все логи и вочеры
ExecStart=/bin/bash /home/varsmana/adminko/start_bot.sh
Restart=always
RestartSec=5
StandardOutput=append:/home/varsmana/adminko/bot_output.log
StandardError=append:/home/varsmana/adminko/bot_error.log
SyslogIdentifier=adminko_bot

[Install]
WantedBy=multi-user.target
